<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>intl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libsh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ostype.h.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>printenv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>readline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>recho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>sh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testbots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>zecho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5916082F0FE076F200762101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>591608870FE0777A00762101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59926C140FE06883005D5BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5992724A0FE0741F005D5BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59DC3C531120DC9C00B033EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724AC29F0FE8A2FC00061EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724AC2BC0FE8A68E00061EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724AC2C90FE8A6F000061EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724AC2D50FE8A74900061EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>728BBD1E0FE0D62000EC5E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>728BBD9A0FE0D6E900EC5E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76FA90486AB0100D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
